{% extends 'base.html' %}
{% block title %}
VK CLEANER - About
{% endblock %}


{% block content %}
<div class=' center block'>
	<div class='row'>
		<div class='col-xs-12 jumbotron'>
			<div class='' align='left'>
				<h2><strong>Что это?</strong></h2>
			</div>
			<div class='' align='left'>
				<p class='lead'>Этот сайт помогает почистить ваш список друзей друзей "VK". 
				<br/>Он выводит друзей и дату вашего последнего общения с ними.</p>
				<p>Исходный код приложения доступен на <a>Github</a>, Вы можете сами удостовериться, что <strong>пользоваться сайтом безопасно</strong>. </p>
			</div>
		</div>
		<div class='col-lg-6'>
			<div class='' align='left'>
				<h1>Как авторизоваться?</h1>
			</div>
			<div class='' align='left'>
				<p>Сайт использует <a>API ВКонтакте</a>, чтобы загрузить список ваших друзей и диалоги.
					Поэтому для его использования требуется войти "ВКонтакте".
					<ol>
					<li>Перейдите по ссылке "Войти VK" на главной странице сайта.</li>
					<li>Откроется окно авторизации, затем будут запрошены разрешения приложения для доступа к сообщениям и друзьям.</li>
					<li>Затем вы будете переадресованы на страницу "https://oauth.vk.com/blank.html".</li>
					<li>Скопируйте ссылку из адресной строки в поле ввода на главной странице сайта и нажмите "Поехали".</li>
					</ol>
				</p>
			</div>
		</div>

		<div class='col-lg-6'>
			<div class='' align='left'>
				<h1>Это безопасно?</h1>
			</div>
			<div class='' align='left'>
				<p>К сожалению API ВКонтакте не позволяет веб-сайтам другим способом получить доступ к сообщениям пользователя. 
				Обычно это доступно только мобильным и desktop приложениям. 
				Текущий способ авторизации - обход этого ограничения.
				<br/>
				На странице "https://oauth.vk.com/blank.html" написано не копировать ссылку на сторонние сайты. 
				Это предупреждение существует потому, что после авторизации приложение может получить контроль над данными вашей страницы.
				<br/>
					Но <strong>VK Cleaner безопасен</strong>.<br/>
					Данный сайт делает с полученным доступом только три вещи:
					<ul>
						<li>Получает ваше имя, фамилию и фотографию.</li>
						<li>Получает списки ваших друзей и диалогов.</li>
						<li>Позволяет удалять друзей.</li>
					</ul>
					Ваши никуда не пересылаются.
					Список ваших диалогов и друзей хранится в локальной памяти не более шести минут.
					<strong>После нажатия кнопки "Выйти" все следы вашего присутствия на сайте стираются.</strong>
					</p>
			</div>
		</div>
	</div>

</div>

{% endblock %}